html, body {
  background-color: #282525;
    overflow: hidden;
}

.col-12 {
    padding: 0;
    margin: 0;
}

.button1,
.button2,
.button3,
.button4 {
    height: calc(50vh - 1.2em);
    border-radius: 20%;
}



.button1 {
    background-color: #990000;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-right: 0.6em;
    
    border: solid 3px #0d0d0d; /* fallback colour */
    border: solid 3px hsla(0,0%,5%,1); 
  
    box-shadow: inset hsla(0,0%,15%,  .8) 0px  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
  
}


.button1:hover {
    background-color: #ff0000;
    
    border: solid 3px #330000; /* fallback colour */
    border: solid 3px hsla(0,0%,5%,.8); 
    
     box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
    inset hsla(0,100%,20%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,100%,60%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
    hsla(0,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */ 
}



.button2 {
    background-color: #003399;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 0.6em;
 
 border: solid 3px #0d0d0d; /* fallback colour */
 border: solid 3px hsla(0,0%,5%,1);
 
 box-shadow: inset hsla(0,0%,15%,  .8) 0  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
    
}

.button2:hover {
    background-color: #0055ff;
    
    border: solid 3px #001133; /* fallback color */
    border: solid 3px hsla(0,0%,5%,.8); 

     box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
    inset hsla(220,100%,20%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(220,100%,60%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(220,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
    hsla(220,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */ 

}

.button3 {
    background-color: #006600;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    margin-right: 0.6em;
 
 border: solid 3px #0d0d0d; /* fallback colour */
 border: solid 3px hsla(0,0%,5%,1);
 
 box-shadow: inset hsla(0,0%,15%,  .8) 0  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
 
}


.button3:hover {
    background-color: #00cc00;
    
    border: solid 3px #003300; /* fallback colour */
    border: solid 3px hsla(0,0%,5%,.8); 
   
 box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
    inset hsla(120,100%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(120,100%,30%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(120,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
    hsla(120,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */   
   
}


.button4 {
    background-color: #b3b300;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    margin-left: 0.6em;
  
  border: solid 3px #0d0d0d; /* Fallback colour */
  border: solid 3px hsla(0,0%,5%,1); 
  
  box-shadow: inset hsla(0,0%,15%,  .8) 0  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
  
}

.button4:hover {
    background-color: #ffff33;
    
    border: solid 3px #332700; /* fallback colour */
    border: solid 3px hsla(0,0%,5%,.8); 
   
    box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
    inset hsla(60,100%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(60,100%,35%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(60,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
    hsla(60,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */ 
}

.centerPad {
    position: absolute;
    text-align: center;
    height: 10em;
    width: 10em;
    background-color: #797978;
    left: calc(50% - 5em);
    top: calc(50% - 5em);
    border-radius: 50%;
    
    border: 3px solid #1a1a1a; /* Fallback border color */
    border: 3px solid hsla(0, 0%, 0%, .8); 
   
    box-shadow: inset hsla(0,0%,15%, 1) 0  0px 4px 5px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(60,0%,65%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 10%,.45) 0 -5px 15px 20px, /* outer SD */
    hsla(0,0%,100%,.7) 0px  0px 6px 6px; /* outer HL */ 
}

.centerPad:hover {
    background-color: #bfbfbf;
    
    border: 3px solid #404040; /* Fallback Border Colour */
    border: 3px solid hsla(0, 0%, 10%, .8); 
    
   box-shadow: inset hsla(0,0%,15%,  1) 0  0px 4px 5px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 10%,.45) 0 -5px 15px 20px, /* outer SD */
    hsla(0,0%,100%,.7) 0px  0px 6px 6px; /* outer HL */ 

}